.background {
  viewport-fill: black;
}

#time {
  fill: #783c94;
  font-family: Colfax-Regular;
  font-size: 110;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 50%+40;
}

#abbreviation {
  fill: #783c94;
  font-size: 30;
  text-anchor: end;
  text-length: 2;
  x: 88%;
  y: 72%;
}

#message{
  fill: #ab1931;
  font-size: 26;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 80%;
}

#date{
  fill: #d1d1d1;
  font-size: 30;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 100%-10;
}

.stat{
  fill: rgb(100,100,100);
  font-size: 20;
}

#stat1{
  text-anchor: start;
  text-length: 32;
  x:5%;
  y:20;
}


#stat2{
  font-size: 22;
  text-anchor: end;
  text-length: 32;
  y:20;
  x:94%
}
