.background {
  viewport-fill: black;
}


#time {
  font-size: 110;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: rgb(180,180,180);
}

#message{
  font-size: 40;
  text-anchor: middle;
  x: 50%;
  y: 80%;
  fill: white;
}

#date{
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 100%-10;
  font-size: 30;
  fill: white;
}

.stat{
  font-size: 20;
  fill: rgb(100,100,100);
  
}

#stat1{
  x:2%;
  y:20;
  text-anchor: start;
}

#stat2{
  text-anchor: end;
  y:20;
  x:98%
}




