.background {
  viewport-fill: black;
}

#time {
  font-size: 110;
  font-family: Colfax-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: #783c94;
}

#message{
  font-size: 26;
  text-anchor: middle;
  x: 50%;
  y: 80%;
  fill: #ab1931;
}

#date{
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 100%-10;
  font-size: 30;
  fill: #d1d1d1;
}

.stat{
  font-size: 20;
  fill: rgb(100,100,100);

}

#stat1{
  x:5%;
  y:20;
  text-anchor: start;
  text-length: 32;
}


#stat2{
  font-size: 22;
  text-anchor: end;
  text-length: 32;
  y:20;
  x:94%
}
